<!DOCTYPE html>
<html lang="en" xmlns:th:="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-3 list-group bg-dark text-white" style="height: 100vh">
        <ul class="list-group">
            <a href="/products">
                <li class="list-group-item">Products</li>
            </a>
            <a href="/categories">
                <li class="list-group-item">Categories</li>
            </a>
            <a href="/">
                <li class="list-group-item">Home</li>
            </a>
            <a href="/order">
                <li class="list-group-item">orders</li>
            </a>
        </ul>
    </div>
    <div class="col-9">
        <h1>
            Content
        </h1>
    </div>
</div>
</body>
</html>